.app__video {
    height: 100vh;
    position: relative;
    background: var(--color-black);
    align-items: center;
    padding-left: 5%;
    padding-top: 2.5%;
}

.app__video video {
    width: 95%;
    height: 95%;
    object-fit: cover;
    
}

.app__video-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.app__video-overlay_circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--color-golden);
    cursor: pointer;
}